<html>
    <head>
        <title>Forside</title>
        <link href="~/css/Forside.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link href="~/css/Font.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container-fluid">
            <div class="banner">
                <img class="banner-img" src="~/Gamechanger billedmateriale/Slidebanner/banner_assasins_creed_2.jpg" alt="Assains creed 2" />
                <div class="banner-textblok">
                    <div class="banner-textblok-textbox">
                        <h4>ASSASINS CREED</h4>
                        <p>
                            It depicts a centuries-old struggle, now and then, between
                            the Assassins, who fight for peace with free will, and the Templars,
                            who desire peace through control.
                        </p>
                        <img class="banner-textblok-textbox-img" src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-atea">
            <div class="spilthumbs">

            </div>
        </div>
    </body>
</html>
