<!DOCTYPE html>

<html>
<head>
    <title>Forside</title>
    <link href="~/css/Forside.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>

<body>
    <img class="setpik" src="~/Gamechanger billedmateriale/Slidebanner/banner_assasins_creed_2.jpg" alt="Assains creed 2" />
</body>
</html>
