<html>
<head>
    <title>Forside</title>
    <link href="~/css/Forside.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Font.css" rel="stylesheet" />
    @*<link href="~/css/Reviews.css" rel="stylesheet" />*@

</head>

    <body>
        <div style="max-width: 100%;">
            <div>
                <div class="banner">
                    <img class="banner-img" src="~/Gamechanger billedmateriale/Slidebanner/banner_assasins_creed_2.jpg" alt="Assains creed 2" />
                    <div class="banner-textblok">
                        <div class="banner-textblok-textbox">
                            <h4>ASSASINS CREED</h4>
                            <p>
                                It depicts a centuries-old struggle, now and then, between
                                the Assassins, who fight for peace with free will, and the Templars,
                                who desire peace through control.
                            </p>
                            <img class="banner-textblok-textbox-img" src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-atea">
                <div>
                    <table class="spilthumbs">
                        <tr>
                            <td>
                                <div>
                                    <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" />
                                    <div>
                                        <p>Splinter Cell: Black List</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" />
                                    <div>
                                        <p class="spilthumbs-textbox">Grand Theft Auto V</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img src="~/Gamechanger billedmateriale/Thumbs/thumb_call_of_duty.jpg" />
                                    <div>
                                        <p>Call of Duty: Ghosts</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img src="~/Gamechanger billedmateriale/Thumbs/thumb_forza4.jpg" />
                                    <div>
                                        <p>Forza Motorsport 4</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img src="~/Gamechanger billedmateriale/Thumbs/thumb_red_dead_redemption.jpg" />
                                    <div>
                                        <p>Red Dead Redemprion</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img src="~/Gamechanger billedmateriale/Thumbs/thumb_halo4.jpg" />
                                    <div>
                                        <p>Halo 4</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="max-width: 100%">
                    <div class="Seneste-trailer">
                        <iframe style="width: 100%" src="https://www.youtube.com/embed/4A05AnPSC6g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    @* wiliam *@
                </div>
            </div>
        </div>
    </body>
</html>















