@{
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <title>Forside</title>
</head>
<body>
    <img src="~/Gamechanger billedmateriale/Slidebanner/banner_assasins_creed_2.jpg" alt="Assains creed 2" />
</body>
</html>
   