@{
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <title>Forside</title>
    <link href="~/css/Index.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="\Home">Forside</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="\Games">Spil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="\Reviews">Andmelser</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="\contact">kontakt</a>
            </li>
        </ul>
    </nav>
    

    @*<img src="~/Gamechanger billedmateriale/Slidebanner/banner_assasins_creed_2.jpg" alt="Assains creed 2" />*@
</body>
</html>
   