
<!DOCTYPE html>

<html>
<head>
    <title>Spil</title>
    <link href="~/css/Games.css" rel="stylesheet" />
</head>
<body>

    <div class="top-baggrund-box"></div>

    <div class="center-box">
        <table class="logo">
            <thead>
                <tr>
                    <th>
                        <img src="~/Gamechanger billedmateriale/Logo/logo.png" alt="GameChanger logo" />
                    </th>
                    <th>
                        <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_facebook.png" class="facebook" />
                        <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_gplus.png" class="googleplus" />
                        <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_twitter.png" class="twitter" />
                        <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_youtube.png" class="youtube" />
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    @*
        <table class="table">
           
        </table>
    *@
</body>
</html>
