@{
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <title>Spil</title>
    <link href="~/css/Games.css" rel="stylesheet" />
</head>
<body>

    <div class="box"></div>
    <div class="name">
        GAME<img src="~/Gamechanger billedmateriale/Logo/favorite_icon.png" />CHANGER
    </div>
    <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_facebook.png" class="facebook" />
    <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_gplus.png" class="googleplus" />
    <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_twitter.png" class="twitter" />
    <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_youtube.png" class="youtube" />

</body>
</html>
