
<!DOCTYPE html>

<html>
<head>
    <title>Spil</title>
    <link href="~/css/Games.css" rel="stylesheet" />
</head>
<body>

    <div class="top-baggrund-box"></div>

    <div class="center-box">
        <div>
            <table class="logo">
                <thead>
                    <tr>
                        <td>
                            <img class="gamechanger-logo" src="~/Gamechanger billedmateriale/Logo/logo.png" alt="GameChanger-logo" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_facebook.png" class="facebook" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_gplus.png" class="googleplus" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_twitter.png" class="twitter" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_youtube.png" class="youtube" />
                        </td>

                    </tr>
                </thead>
            </table>
        </div>

        <div class="center-overlap">
            <div class="white-space-around">
                <div class="info-side">
                    <table class="table">
                        <thead class="head-colum">
                            <tr>
                                <th class="arrow">
                                    <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                </th>
                                <th class="aktuelle-spil-size">
                                    Aktuelle spil
                                </th>
                                <th></th>
                            </tr>
                            
                        </thead>  
                    </table>
                    <table class="games">
                        <tr>
                            <td></td>
                            <td class="games-pic-size" style="padding: 1%;">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" />
                            </td>
                            <td>
                                <h4 class="games-title"><strong>Splinter Cell: Blacklist</strong></h4>
                                <p class="subtitle">Udgiver: <u>Ubisoft</u> | Genre: Stealth</p>
                                <p class="maintext">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="games-pic-size gray-bagrund" style="padding: 1%;">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" />
                            </td>
                            <td class="gray-bagrund">
                                <h4 class="games-title"><strong>Grand theft auto V</strong></h4>
                                <p class="subtitle">Udgiver: <u>Rockstar Games</u> | Genre: Action-Adventure</p>
                                <p class="maintext">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="games-pic-size" style="padding: 1%;">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_call_of_duty.jpg" />
                            </td>
                            <td>
                                <h4 class="games-title"><strong>Call Of Duty</strong></h4>
                                <p class="subtitle">Udgiver: <u>Activision</u> | Genre: First-person shooter</p>
                                <p class="maintext">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="games-pic-size gray-bagrund" style="padding: 1%;">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" />
                            </td>
                            <td class="gray-bagrund">
                                <h4 class="games-title"><strong>Titanfall</strong></h4>
                                <p class="subtitle">Udgiver: <u>Respawn Entertainment</u> | Genre: First-person shooter </p>
                                <p class="maintext">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="games-pic-size"  style="padding: 1%;">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_red_dead_redemption.jpg" />
                            </td>
                            <td>
                                <h4 class="games-title"><strong>Red Dead Redemption</strong></h4>
                                <p class="subtitle">Udgiver: <u>Rockstar Games</u> | Genre: Action-adventure </p>
                                <p class="maintext">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="games-pic-size gray-bagrund" style="padding: 1%;">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_fifa_2014.jpg" />
                            </td>
                            <td class="gray-bagrund">
                                <h4 class="games-title"><strong>Fifa 14</strong></h4>
                                <p class="subtitle">Udgiver: <u>Electronic Arts (EA)</u> | Genre: Sportsgame </p>
                                <p class="maintext">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.

                                </p>
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="new-anmeldelses-side">
                    <table class="table">
                        <thead class="head-colum">
                            <tr>
                                <th class="arrow">
                                    <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                </th>
                                <th class="anmeldelser-th-size">
                                    Nye anmeldelser
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <table class="anmeldelser">
                        <tr>
                            <td class="Anmeldelse-pic-size">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" />
                            </td>
                            <td style="padding:2%;">
                                <p class="anmeldse-title"><strong>Splinter cell: blacklist</strong></p>
                                <p class="time-written-size"> oprettet: 6. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size gray-bagrund">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" />
                            </td>
                            <td style="padding:2%;" class=" gray-bagrund">
                                <p class="anmeldse-title"><strong>Grand Theft Auto V</strong></p>
                                <p class="time-written-size"> oprettet: 5. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_call_of_duty.jpg" />
                            </td>
                            <td style="padding:2%;">
                                <p class="anmeldse-title"><strong>Call Of Duty: Ghosts</strong></p>
                                <p class="time-written-size"> oprettet: 4. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size gray-bagrund">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" />
                            </td>
                            <td style="padding:2%;" class="gray-bagrund">
                                <p class="anmeldse-title"><strong>Titanfall</strong></p>
                                <p class="time-written-size"> oprettet: 1. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_red_dead_redemption.jpg" />
                            </td>
                            <td style="padding:2%;">
                                <p class="anmeldse-title"><strong>Red Dead Redemption</strong></p>
                                <p class="time-written-size"> oprettet: 28. maj 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size gray-bagrund">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" />
                            </td>
                            <td style="padding:2%;" class="gray-bagrund">
                                <p class="anmeldse-title"><strong>Fifa 14</strong></p>
                                <p class="time-written-size"> oprettet: 25. maj 2020</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>