
<!DOCTYPE html>

<html>
<head>
    <title>Spil</title>
    <link href="~/css/Games.css" rel="stylesheet" />
</head>
<body>

    <div class="top-baggrund-box"></div>

    <div class="center-box">
        <div>
            <table class="logo">
                <thead>
                    <tr>
                        <td>
                            <img class="gamechanger-logo" src="~/Gamechanger billedmateriale/Logo/logo.png" alt="GameChanger-logo" />
                        </td>
                        <td align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_facebook.png" class="facebook" />
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_gplus.png" class="googleplus" />
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_twitter.png" class="twitter" />
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_youtube.png" class="youtube" />
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="center-overlap">

        </div>
    </div>
</body>
</html>
