body {
}

.top-baggrund-box {
    width: 100%;
    height: 20vh;
    background-color: #808080;
    background-position: top;
    background-image: url('../gamechanger billedmateriale/grafik/cross.png');
    background-repeat: round;
}

.center-box {
    top: 0%;
    bottom: 0%;
    left: 19%;
    right: 19%;
    position: absolute;
}

/*
    Social media og logo
*/
.logo {
    top: 8%;
    width: 100%;
    table-layout: auto;
    position: absolute;
}

.social-size {
    width: 2vw;
}


.facebook {
    height: auto;
    width: 2.5vw;
}

.googleplus {
    height: auto;
    width: 2.5vw;
}

.twitter {
    height: auto;
    width: 2.5vw;
}

.youtube {
    height: auto;
    width: 2.5vw;
}

.gamechanger-logo {
    height: auto;
    width: 22vw;
}

/*
    miden af kontakt
*/
.center-overlap {
    top: 14.5%;
    bottom: 2%;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
}

.white-space-around {
    left: 3%;
    right: 3%;
    top: 3%;
    bottom: 3%;
    position: absolute;
}

.table .head-colum
th {
    background-color: #343a40;
    border-color: #454d55;
    color: deepskyblue;
}

.table .head-colum .arrow {
    width: 1.5vw;
}

.table .head-colum .arrow img {
    width: 1.5vw;
}

.kontakt-size {
    font-size: 1.5vw;
}
/*
    info-side
*/
.velkommen-text{
    font-size:1.3vw;
}


.Information-box{
    width:100%;
    height:30vh;
    position:absolute;
}
.info-side {
    width:30%;
    left: 0% ;
    position: absolute;
}

.info-side p{
    margin-bottom:2%;
    padding-right:5px;
    width: 100%;
}

/*
    write-side
*/
.write-side {
    width: 70%;
    right: 0%;
    position: absolute;
}

#textarea {
    width: 30vw;
    border: 0.5px inset;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.send-button {
    background-color: lightskyblue;
    border:none;
    color: white;
    width:11%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.email-box {
    width: 17vw;
    margin-bottom:5px;
    border: 0.5px inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.name-box {
    width: 17vw;
    margin-bottom:5px;
    border: 0.5px inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}