body{
    padding: 0;
    margin: 0;
    width: 100%;
}
/*
----------banner----------
*/
.banner{
    position: relative;
    max-width: 100%;
}
.banner-img {
    max-width: 100%;
}
.banner-textblok {
    position: absolute;
    top: 0;
    right: 27%;
    left: 60%;
    max-width: 13%;
    height: 86%;
    background-color: #000000;
    opacity: 0.8;
}
.banner-textblok-textbox {
    color: #ffffff;
    position: absolute;
    max-width: 100%;
    bottom: 0;
    padding: 0vw 0.5vw;
    padding-bottom: 0.7vw;
}
.banner-textblok-textbox p {
    font-size: 0.9vw;
    margin: 0;
    line-height: 1.1;
}
.banner-textblok-textbox h4 {
    font-size: 2vw;
    margin: 0;
    line-height: 1.1;
}
.banner-textblok-textbox-img{
   width: 1vw;
   height: 1vw;
}
/*
------------the midelbox-----------
*/
.content-atea {
    right: 19.5%;
    left: 19.5%;
    max-width: 60%;
    height:100%;
    top: 35.5vw;
    position: absolute;
    padding: 2% 1.5%;
    background-color: #ffffff;
}
/*
------------spilthumbs-----------
*/
.spilthumbs {
    max-width: 100%;
}
.spilthumbs div {
    position: relative;
}
.spilthumbs td {
    width: 15%;
    text-align: center;
    color: #00f5fc;
    padding-bottom: 2%;
    padding-right: 2%;
}
.spilthumbs img {
    position: relative;
    width: 100%;
}
.spilthumbs p {
    width: 100%;
    font-size: 0.7vw;
    position: absolute;
    background-color: #000000;
    opacity: 0.9;
    bottom: 0;
    padding: 0.1vw 0.1vw;
    margin: 0 !important;
}
/*
-------------Seneste-trailer----------
*/
.Seneste-trailer {
    width: 60%;
    position: absolute;
}


/*
    Nye Anmeldelsers siden
*/
.new-anmeldelses-side {
    max-width: 35%;
    right: 0%;
    position: absolute;
}

.table .head-colum
th {
    background-color: #343a40;
    border-color: #454d55;
    color: deepskyblue;
}

.table .head-colum .arrow {
    width: 1.5vw;
}

.table .head-colum .arrow img {
    width: 1.5vw;
}

.gray-bagrund {
    background-color: #e8e8e8;
    position: relative;
}

.anmeldelser-th-size {
    font-size: 1vw;
}

.anmeldse-title {
    font-size: 1vw;
    color: black;
    margin: 0px;
}

.time-written-size {
    font-size: 0.7vw;
    margin-bottom: 0.3vw;
}

.nye-anmeldelser .Anmeldelse-pic-size {
    width: 20%;
    padding: 0px;
    height: auto;
}

.Anmeldelse-pic-size img {
    max-width: 100%;
    height: auto;
}

a:link {
    color: black;
}

/*
--------footer----------
*/
.footer {
    bottom: 0;
    background-color: #b4b4b4 ;
    
}
footer {
    width: 100%;
}
footer p {
    font-size: 1vw;
    color: #808080;
    padding: 0px !important;
    margin: 0px !important;
    float: left;
}
footer a {
    font-size: 1vw;
    color: #808080;
    padding: 0px !important;
    margin: 0px !important;
    float: left;
}