body {
}

.box {
    width: 100%;
    height: 150px;
    background-color: gray;
    background-position: top;
    position: relative;
    background-image: url('../gamechanger billedmateriale/grafik/cross.png');
    background-repeat: round;
}

.name{
    position: absolute;
    left: 26%;
    top: 6%;
    font:100px;
}

.facebook {
    height: 30px;
    width: 30px;
    padding: 4px;
    position: absolute;
    top: 6%;
    right: 20%
}

.googleplus {
    height: 30px;
    width: 30px;
    padding: 4px;
    position: absolute;
    top: 6%;
    right: 22%
}

.twitter {
    height: 30px;
    width: 30px;
    padding: 4px;
    position: absolute;
    top: 6%;
    right: 24%
}

.youtube {
    height: 30px;
    width: 30px;
    padding: 4px;
    position:absolute;
    top: 6%;
    right: 26%
}
