body {
}

.top-baggrund-box {
    width: 100%;
    height: 200px;
    background-color: #808080;
    background-position: top;
    background-image: url('../gamechanger billedmateriale/grafik/cross.png');
    background-repeat: round;
}

.center-box {
    top: 0%;
    bottom: 0%;
    left: 20%;
    right: 20%;
    position: absolute;
}


.logo {
    top: 8%;
    width: 100%;
    table-layout: auto;
    position: absolute;
}

.social-size {
    width: 2vw;
}

.facebook {
    height: auto;
    width: 2vw;
}

.googleplus {
    height: auto;
    width: 2vw;
}

.twitter {
    height: auto;
    width: 2vw;
}

.youtube {
    height: auto;
    width: 2vw;
}

.gamechanger-logo {
    height: auto;
    width: 22vw;
}

.center-overlap {
    top: 14.5%;
    bottom: 2%;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
}

.white-space-around {
    left: 3%;
    right: 3%;
    top: 3%;
    bottom: 3%;
    position: absolute;
}

.info-side {
    width: 73%;
    height: 100%;
    left: 0%;
    position: absolute;
}

.new-anmeldelses-side {
    width: 23%;
    height: 100%;
    right: 0%;
    position: absolute;
}

.table .head-colum
th {
    background-color: #343a40;
    border-color: #454d55;
    color: deepskyblue;
}

.table .head-colum .arrow {
    width: 1.5vw;
}

.table .head-colum .arrow img {
    width: 1.5vw;
}

.Anmeldelse-size {
    font-size: 1.4vw;
}

/*
    Anmeldelses side
*/
.anmeldelse-title {
    font-size: 1.5vw;
}
.anmeldelse-picture{
    width:100%;
    height:auto;
}
.subtitle{
    font-size:0.9vw;
    margin:0px;
}
/*
    Nye Anmeldelsers siden
*/
.gray-bagrund {
    background-color: #e8e8e8;
    position: relative;
}

.anmeldelser-th-size {
    font-size: 1vw;
}

.anmeldse-title {
    font-size: 1vw;
    color: black;
    margin: 0px;
}

.time-written-size {
    font-size: 0.7vw;
    margin-bottom: 5px;
}

.nye-anmeldelser .Anmeldelse-pic-size {
    width: 20%;
    padding: 0px;
    height: auto;
}

.Anmeldelse-pic-size img {
    max-width: 100%;
    height: auto;
}

a:link{
    color:black;
}