@model GameChanger.Models.ContactInfo

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>ContactInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fuldenave" class="control-label"></label>
                <input asp-for="Fuldenave" class="form-control" />
                <span asp-validation-for="Fuldenave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Besked" class="control-label"></label>
                <input asp-for="Besked" class="form-control" />
                <span asp-validation-for="Besked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

