@model GameChanger.Models.ContactInfo

@{
    ViewData["Title"] = "Index";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link href="~/css/Contact.css" rel="stylesheet" />
    </head>
    <body>
        <div class="top-baggrund-box"></div>

        <div class="center-box">

            <div>
                <table class="logo">
                    <thead>
                        <tr>
                            <td>
                                <img class="gamechanger-logo" src="~/Gamechanger billedmateriale/Logo/logo.png" alt="GameChanger-logo" />
                            </td>
                            <td class="social-size" align="right">
                                <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_facebook.png" class="facebook" />
                            </td>
                            <td class="social-size" align="right">
                                <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_gplus.png" class="googleplus" />
                            </td>
                            <td class="social-size" align="right">
                                <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_twitter.png" class="twitter" />
                            </td>
                            <td class="social-size" align="right">
                                <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_youtube.png" class="youtube" />
                            </td>

                        </tr>
                    </thead>
                </table>
            </div>
            <div class="center-overlap">
                <div class="white-space-around">
                    <table class="table">
                        <thead class="head-colum">
                            <tr>
                                <th class="arrow" style="vertical-align:middle;">
                                    <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                </th>
                                <th class="kontakt-size">
                                    Kontakt
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div>
                        <p class="velkommen-text">Udfyld og send formularen, hvis du har et spørgsmål eller en besked.</p>
                    </div>
                    <div class="Information-box">
                        <div class="info-side" style="text-align:right;">
                            <table width="100%">
                                <tr>
                                    <td><p>Fulde navn</p></td>
                                </tr>
                                <tr>
                                    <td><p>Email</p></td>
                                </tr>
                                <tr>
                                    <td><p>Besked</p></td>
                                </tr>
                            </table>



                        </div>

                        <div class="write-side">
                            <table class="tbody">
                                <tbody>
                                    <tr>
                                        <td><input class="name-box" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td><input class="email-box" type="email" /></td>
                                    </tr>
                                    <tr>
                                        <td><textarea rows="4" id="textarea"></textarea></td>
                                    </tr>
                                </tbody>
                               
                            </table>

                            <input class="send-button" type="submit" value="Send">

                        </div>
                    </div>
                </div>
            </div>
            
        </div>

       
</body>
    </html>


