<!DOCTYPE html>

<html>
<head>
    <title>Spil</title>
    <link href="~/css/Reviews.css" rel="stylesheet" />
</head>
<body>

    <div class="top-baggrund-box"></div>

    <div class="center-box">
        <div>
            <table class="logo">
                <thead>
                    <tr>
                        <td>
                            <img class="gamechanger-logo" src="~/Gamechanger billedmateriale/Logo/logo.png" alt="GameChanger-logo" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_facebook.png" class="facebook" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_gplus.png" class="googleplus" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_twitter.png" class="twitter" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_youtube.png" class="youtube" />
                        </td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="center-overlap">
            <div class="white-space-around">
                <div class="info-side">
                    <table class="table">
                        <thead class="head-colum">
                            <tr>
                                <th class="arrow" style="vertical-align:middle;">
                                    <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                </th>
                                <th class="Anmeldelse-size">
                                    Anmeldelser
                                </th>
                                <th></th>
                            </tr>

                        </thead>
                    </table>
                    <div class="anmeldelse">
                        <img src="~/Gamechanger billedmateriale/Anmeldelser/splinter_cell_black_list.jpg" class="anmeldelse-picture" />

                        <h4 class="anmeldelse-title"><strong>I en verden med krig</strong></h4>
                        <p class="subtitle">en anmeldelse af spillet Splitter cell Blacklist </p>
                        <p class="maintext">

                        </p>
                    </div>
                                
                </div>

                <div class="new-anmeldelses-side">
                    <table class="table">
                        <thead class="head-colum">
                            <tr>
                                <th class="arrow" style="vertical-align:middle;">
                                    <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                </th>
                                <th class="anmeldelser-th-size">
                                    Nye anmeldelser
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <table class="nye-anmeldelser">
                        <tr>
                            <td class="Anmeldelse-pic-size">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" />
                            </td>
                            <td style="padding:2%;">
                                <p class="anmeldelser-title"><strong>Splinter cell: blacklist</strong></p>
                                <p class="time-written-size"> oprettet: 6. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size gray-bagrund">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" />
                            </td>
                            <td style="padding:2%;" class=" gray-bagrund">
                                <p class="anmeldelser-title"><strong>Grand Theft Auto V</strong></p>
                                <p class="time-written-size"> oprettet: 5. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_call_of_duty.jpg" />
                            </td>
                            <td style="padding:2%;">
                                <p class="anmeldelser-title"><strong>Call Of Duty: Ghosts</strong></p>
                                <p class="time-written-size"> oprettet: 4. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size gray-bagrund">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" />
                            </td>
                            <td style="padding:2%;" class="gray-bagrund">
                                <p class="anmeldelser-title"><strong>Titanfall</strong></p>
                                <p class="time-written-size"> oprettet: 1. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_red_dead_redemption.jpg" />
                            </td>
                            <td style="padding:2%;">
                                <p class="anmeldelser-title"><strong>Red Dead Redemption</strong></p>
                                <p class="time-written-size"> oprettet: 28. maj 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size gray-bagrund">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_fifa_2014.jpg" />
                            </td>
                            <td style="padding:2%;" class="gray-bagrund">
                                <p class="anmeldelser-title"><strong>Fifa 14</strong></p>
                                <p class="time-written-size"> oprettet: 25. maj 2020</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>